<div class="container ">
    <div class="row">
        <div class="col">

            <div class="loginform">

                <div class="main-div">

                    <div class="panel">
                        <h1>Login</h1>
                        <hr>
                        <p class="text-success" style="font-weight: bold;">
                            Please enter your email and password
                        </p>
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <div class="column">
                                <!-- Email -->
                                <div class="form-group">

                                    <div class="input-group-prepared">
                                        <!-- <span ngMogel class="input-group-text" style="font-size: 25px; color: rgba(0, 0, 0, 0.467);">
                                            <i class="fa fa-user"> Email</i>
                                        </span>
                                        <input ngModel #email="ngModel" type="email" name="email" id="loginmailid"
                                            class="form-control" [pattern]="email_pattern" required> -->
                                        <mat-form-field>
                                            <mat-label>Enter your email</mat-label>
                                        <input matInput type="email" ngModel #email="ngModel" name="email" id="loginmailid"
                                        class="form-control" [pattern]="email_pattern" required>
                                        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">*Enter
                                            email
                                            <div *ngIf="email.errors?.pattern">**Enter valid email id</div>
                                        </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- Password -->
                                <div class="form-group">
                                    <div class="input-group-prepared">
                                        <mat-form-field>
                                            <!-- <span class="input-group-text" style="font-size: 25px; color: rgba(0, 0, 0, 0.467);">
                                            <i class="fa fa-lock"> Password</i>
                                        </span> -->
                                        <mat-label>Enter your password</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" ngModel #password="ngModel" name="password"
                                        id="loginpassword" class="form-control w-100" [pattern]="password_pattern"
                                        required>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                          </button>
                                        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                                            *Enter password
                                            <div *ngIf="password.errors?.pattern">**Enter valid password</div>
                                        </div>
                                        </mat-form-field>
                                    </div>
                                    
                                </div>
                                <button class="btn btn-outline-success" [disabled]="!f.valid">Login</button>
                                <br>
                                <span style="color: red;font-weight: bold;margin-top: 5px;">
                                    {{msg}}
                                </span>
                            </div>
                        </form>
                    </div>
                    <br>
                    <button class="btn btn-primary" routerLink="/signup">SignUp</button>
                </div>
            </div>
        </div>
    </div>
</div>
